@{
  Layout = "_Layout";
}
<div class="container">
<h1>Welcome Pierre to your vendor and order site!</h1>
<p><i>Here you can store all pertinent information in order to assist you in your business!</i></p>
<a href="/vendors">View The Vendors</a> 
<br>
<a href="/vendors/new">Add a New Vendor</a>
</div>