@{
  Layout = "_Layout";
}
<div class="container">
<h1>Add a Vendor</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name:</label>
  <input id="vendorName" name="vendorName" type="text">

  <label for="vendorDescription">Vendor Description:</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  
  <button type="submit">Submit</button>
</form>

<a href="/">Return Home</a>
<br>
<a href="/vendors">Vendor List</a> 
</div>