@using Bakery.Models;

@{
  Layout = "_Layout";
}
<div class="container">
<h1>Here are the Orders this vendor has placed:</h1>

  <div class="orders">
      @if (@Model["orders"].Count == 0)
      {
        <p>There are currently no orders</p>
      }
  <ol> 
      @foreach (Order order in @Model["orders"])
      {
        <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderTitle</a></li>
      }
  </ol> 
  <p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a New Order</a></p> 
  <p><a href="/vendors">Vendors Page</a></p>
  <p><a href="/">Return Home</a></p>
  </div>
</div>